/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/componentes/Botao/style.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.botao{
    padding: 20px;
    width: 180px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/pages/products/style.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.flexTituloCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5vw;

}


.flexCards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    gap: 50px;
    padding-bottom: 80px;
}
.flexCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.flexCard img{
    width: 600px;
    height: 500px;
}

.flexDescricao{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    width: 600px;
    gap: 10px;
}
.botaoUnico{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 80px;
}
.flexBody{
    height: auto;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/componentes/Loading/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/


.loading{
    font-size: 2.5rem;
    margin: 200px auto 0;
    animation: spin 1s linear infinite;
    width: 100%;
    margin-bottom: 20vw;

}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/componentes/BarraPesquisa/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    padding: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 1px 10px  1px rgba(0, 0, 0, 0.249);
    outline: none;
}
button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 14px;
    border: none;
    font-size: 1.3rem;
    box-shadow: 0px 0px 4px  0px rgba(0, 0, 0, 0.249);
}
