span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.imagemProdutoTabela{
    height: 80px;
}

.flexCarrinho{
    height: auto;
    padding: 20px;

}
.flexValorTotal{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}
.valorTotal{
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    padding: 50px;

}
.valorTotal button{
    height: 60px;
}
th{
    font-size: 1.5rem;
}
.botaoExcluirCarrinho{
    width: 100px;
    height: 50px;
}